*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.first-cont{
background-image: url(./images/min.jpg);
background-position: center;
background-size: cover;
 height: 100vh;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}
.svg-icon{
  height: 36px;
  width: 134px;
  fill: #e50914;
}
.head-btn{
  background-color: #e50914;
  width: 8%;
  height:35px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: large;
}
.first-text{
  width: 450px;
  height:110px;
  color: white;
  font-size: xx-large;
  margin: auto;
}
.sml{
  text-align: center;
}
.second-text{
  color: white;
  text-align: center;
  margin-top: 15px;
  font-size: medium;

}
.text{
 margin: 130px auto;
}
.ready{
  color: white;
  text-align: center;
  margin-top: 15px;
}
.inp{
  text-align: center;
  margin-top: 20px;
  
}
.inpty{
  width: 30%;
  height:60px;
  color: grey;
  font-size: x-large;
}
.inp-btn{
  background-color: #e50914;
  width: 15%;
  height:60px;
  border: none;
  color: white;
  font-size: x-large;
}
.Second-container{
  background-color: black;
  height: 90vh;
  border: 6px solid rgb(37, 36, 36);
}
.row{
  width: 90%;
  height: 60vh;
  display: flex;
  justify-content:  space-between;
  align-items: center;
  padding: 0 30px;
  margin: 10px auto;
}
.column0ne{
  color: white;
  font-size: xx-large;
  height: 50vh;
  width: 45%;
  padding: 150px 30px;
}
.columntw0{

  height: 40vh;
  width: 45%;
 
}
.hee{
  font-size: 1.625rem;
    font-weight: 400;
    margin-top: 15px;
}
.tv{
  width: 500px;
  height: 60vh;
  position: relative;
}
.our-story-card-video{
  width: 550px;
  height: 30vh;
  position: absolute;
  bottom:-350px;
  left: 700px;

}
.Third-section{
  background-color: black;
  height: 90vh;
  border: 6px solid rgb(37, 36, 36);
}
.mobile{
  width: 80%;
  position: relative;
}
.column0neo{
  width: 45%;
}
.columntw02{
  color: white;
  width: 45%;
  
}
.rowstwo{
  width: 90%;
  height: 60vh;
  display: flex;
  justify-content:  space-between;
  align-items: center;
  padding: 0 30px;
  margin: 10px auto;
}
.big{
  font-size: 50px;
}
  .save{
    margin-top: 20px;
  }
  .box{
    width: 20%;
  }
  .new{
    position: absolute;
    width: 20%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:1px solid grey;
    padding: 10px 20px;
    border-radius: 10px;
    left: 175px;
    bottom:-900px;
    background-color: black;
  }
  .str{
    color: white;
  }
  .down{
    color: blue;
  }